<div class="card animated fadeIn fast">
  <img [src]="hero.img" class="card-img-top img-fluid" [alt]="hero.nombre" />
  <div class="card-body">
    <h5 class="card-title">{{ hero.nombre }}</h5>
    <p class="card-text text-justify">{{ hero.bio }}</p>
    <p class="card-text">
      <small class="text-muted"> {{ hero.aparicion }} </small>
    </p>
    <button
      (click)="showHero()"
      type="button"
      class="btn btn-outline-primary btn-block"
    >
      Ver detalles
    </button>
    <!-- <a [routerLink]= "['/hero', i]" class="btn btn-outline-primary btn-block" >Ver detalles</a> -->
  </div>
</div>
